
// VALE starts here
* {
  margin: 0px;
}

body {
  background-color: white;
  margin-bottom: 100px;
}

h2{
  color: #cdedf6;
}
h3, h4{
  color: #ef7b45;
}

nav{
  padding: 10px;
  box-shadow: 10px 5px 10px #C8C8C8;
}

.img-logo {
    vertical-align: middle;
    border-style: none;
    width: 200px;
}


.navbar-link{
  color: #cdedf6;
}

.link-qa{
  color: #ef7b45,
}

.container-page{
  margin-top: 192px;
}

/*LINES <HR>*/
.hr-border {
  border-top: 0.1rem solid #cdedf6;
}

/*NAV TOP*/
.nav-style_top {
  background-color: #5eb1bf;
  height: 150px;
  border-radius: 0px 0px 80px 80px;

}

/*NAV BOTTOM*/
.nav-style_bottom {
  background-color: #5eb1bf;
}

.btn-link{
  border-radius: 20px;
}
.nav-text_top{
  color: white;
  font-size: 12px;

}
.nav-text_bottom{
  color: white;
  font-size: 10px;
}

/*ICONS*/
.nav-icon_top {
  background-color: white;
    color: #5eb1bf;
    height: 50px;
    width: 50px;
    stroke-width: 1px;
    border-radius: 30px;
}


// .nav-icon_bottom {
//   color: white;
//   height: 30px;
//   width: 30px;
//   stroke-width: 1px;
// }

.icon-event{
  color: #ef7b45;
  Stroke-width: 1px;
  // opacity: 60%;
}

.icon-toggle{
  color: #5eb1bf;
  stroke-width: 1px;
}

.container-icons_event{
  padding-left: 250px;
}

.icon-qa{
  background-color: #5eb1bf;
  color: white;
  height: 50px;
  width: 50px;
  stroke-width: 1px;
  border-radius: 30px;
  
}



/*LANDING*/
/*IMAGE TOP*/
.img-event_top {
  background-color: blue;
  width: 100%;
  height: 200px;
}

.title-event_top {
  color: #042a2b;
  font-size: 1.5rem;
}

.icon-carrousel {
  color: white;
}

// QUESTIONS AND ANSWERS
.container-comments{
	background-color: #cdedf6;
}

.container-qa{
  background-color: #cdedf6;
  width: 100%;
  border-radius: 10px;
  margin-left: 50px;
}

.row-qa{
  margin-bottom: 5px;
}


// BUTTONS
.btn-buyTicket{
  background-color: #d84727;
  color: white;
  border-radius: 0px;
}

// IMAGES 
.img-speaker{
  width: 150px;
  border-radius: 80px;
}
// VALE ends here

// BELLA starts here
.card-img {
	background-size: cover;
	background-position: center;
}
.avatar-img {
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	width: 200px;
	height: 200px;
}

.post-avatar-img {
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
}

.qa-edit-delete-icons {
  path { fill: orange }
}

.event-card {
  cursor: pointer;
}
// BELLA ends here

// Roy

.hidden {
  display: none;
}
